html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0px;
    margin: 0px;
}

h1 {
    font-size: 22pt;
    color: blueviolet;
    font-weight: bold;

}
